
@charset "utf-8";
#canvas{
		position: fixed;
		top: 0;
		z-index: -999;
	}
body{
    font-family:"Microsoft yahei";
    color:#5a5a5a;
    cursor:url("../cursor/Hello_Normal.cur"),pointer;
}
h1,h2,h3,h4,h5,h6{
    text-transform:uppercase;
}
a,a:hover,a:focus{
    text-decoration:none;
}

p{
	font-family: "微软雅黑";
}
/*navbar page style start*/
#tf-menu{
    padding:20px;
    transition:all 0.5s;
}
#tf-menu a.navbar-brand{
    text-transform:uppercase;
    font-size:22px;
    font-weight:400;
    color:#fff;
}
#tf-menu.navbar-default{
    background-color:rgba(248,248,248,0);
    border-color:rgba(231,231,231,0);
}
	#tf-menu.navbar-default .navbar-nav{
		margin-left:60px;
	}
#tf-menu.navbar-default .navbar-nav > li > a{
    text-transform:uppercase;
    font-size:12px;
    letter-spacing:1px;
    color:#fff;
}
#tf-menu.navbar-default .navbar-nav > li > a:hover{
     color:#F27567 ;
      background-color:transparent;
}
.navbar-toggle{
    border-radius:0;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
    background-color:#ec586a;
    border-color:#ec586a;
}
.navbar-default .navbar-toggle:hover > .icon-bar,.navbar-default .navbar-toggle:focus > .icon-bar{
    background-color:#fff;
}
.price{
	line-height:50px;
	color:#fff;
}
.price .navbar-link{
	color:#fff;
}
.price .navbar-link:hover{
	color:#ec586a;
}
.on{
    background-color:#222 !important;
    color:#fff;
    padding:0 !important;
}
/*end style navbar page*/

#tf-home{
    background-image:url(../images/sign1.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    color:#fff;
}
#tf-home .overlay{
    background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 );
    height:800px;
}
.content{
    padding:16% 0 0;
}
@media only screen and (max-width: 600px) {
	.content{
   	 padding:60% 0 0;
}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.content{
   	 padding:34% 0 0;
}
}
.colors{
    color:#e96f62;
}
#tf-home p.lead{
    color:#e3e3e3;
}

/*About page style start*/
/*section page style start*/
.setion{
	margin-top: 40px;
}
.container .row .height{
	background-color:white;
}
 #dituContent{
	height:250px;
}
.container .row .myul li{
	font-family: "微软雅黑";
	color: #000000;
	letter-spacing: 4px;
	line-height: 1.9em;
	border-radius: 5px 5px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.container .row .myul li{
	line-height: 1.1em;
}
}
}
.down{
	border-bottom: dashed;
	color:#eae9e9;
	margin-top: 5%;
}
.description{
	margin-top:30px;
	}
.description_bg{
	background-color:#e04f67;
	width:3px;
	height: 20px;
	float:left;
	margin-right:10px;
}
.description p{
	clear: both;
	margin-left:10%;
	margin-right:10%;
	letter-spacing: 1px;
	color: #403f3f;
}

.description .text{
	float:left;
	color:#f3f3f3;
	font-family: "微软雅黑";
	margin-top: 3%;
	margin-left:1%;
}
.description_bg_1{
	background-color:#fdcfd7;
	margin-top: 5%;
	padding:8px;
}
.box{
	padding-left:8px;
}
.description_bg_1 p{
	font-size: 12px;
	color: #484747;
	margin-top: 2%;
	letter-spacing: 2px;
	line-height: 2em;
}
.data{
	float: right;
	margin-right:6%;
	margin-top:3%;
}
.data p{
	float: right;
	margin-top: -10%;
	margin-right:1%;
}
.box-down_2{
	border-bottom: dashed;
	color:#eae9e9;
	margin-top: 10%;
	margin-bottom:20px;
}
.box_height{
	margin-top:20px;
}
.owl-carousel{
	margin-top:0;
}
.box-boder{
	border-radius: 10px 10px 10px 10px;	
	letter-spacing: 5px;
	font-size: 16px;
}

.owl-carousel{
	display: block !important;
	margin-top:5%;
}

.item{
	margin-top: 3%;
	margin-left: 10%;
	
}
.carousel-control{
	top:10px;
}
.carousel-control.left{
	left:35px;
}
/*h4{
	position:relative;
}
h4:after{
	position:absolute;
	width:2px;
	left:0;
	height:30px;
	background: red;
}*/
/*<!--asid page style start-->*/
.myForm{
	width: 80%;
	margin: auto;
}

.myForm div{
	margin-top: 10%;
}

.myInput{
	width: 100%;
	height:36px;
	border: 1px solid #dadada;
}

/*tf-touch page start*/
.tf-touch{
	background:#9B9B9B;
	position:fixed;
	right:0;
	top:40%;
}
.tf-touch ul li> a{
	transition: all 0.5s;
}
.tf-touch ul li> a:hover,.tf-touch ul li> a:focus{
    background:#F27567;
}
.tf-touch ul li> a i.fa{
	color:#fff;
	font-size:25px;
}
.tf-touch ul li>a.active{
	background: #F27567;
}
/*tf-touch page end*/
/*<!--footer page start-->*/
.tf-footer{
	margin-top:60px;
}
.tf-footer .con p a{
	color:#000;
	font-size:12px;
}
.tf-footer .con{
	margin-bottom:15px;
}
.tf-footer .con .img-1{
	width:109px;
	height:110px;
}
.tf-footer .con p span>i{
	border-radius:50%;
	border:1px solid #eee;
	width:30px;
	height:30px;
	line-height:30px;
	background: #eee;
	transition: all 0.5s;
}
.tf-footer .con p span>i.fa1:hover{
background: #47DAFF;
color:#fff;
}
.tf-footer .con p span>i.fa2:hover{
background: #4C81D2;
color:#fff;
}
.tf-footer .con p span>i.fa3:hover{
background:#FF6252;
color:#fff;
}
.tf-footer .con p span>i.fa4:hover{
background:#E43333;
color:#fff;
}
.tf-footer .con p span>i.fa5:hover{
background:#FF4978;
color:#fff;
}
/*<!--footer page end-->*/